hostname {{ device.name }}
!
router bgp {{ device.asn }}
 bgp router-id {{ device.router_id }}
 bgp log-neighbor-changes
{%- for peer in device.peers %}
 neighbor {{ peer.ip }} remote-as {{ peer.asn }}
 neighbor {{ peer.ip }} description {{ peer.description }}
{%- endfor %}
 !
 address-family ipv4 unicast
{%- for peer in device.peers %}
  neighbor {{ peer.ip }} activate
{%- endfor %}
  redistribute connected
 exit-address-family
!
