system {
    host-name {{ device.name }};
}
routing-options {
    router-id {{ device.router_id }};
    autonomous-system {{ device.asn }};
}
protocols {
    bgp {
        group PEERS {
            type external;
{%- for peer in device.peers %}
            neighbor {{ peer.ip }} {
                description {{ peer.description }};
                peer-as {{ peer.asn }};
            }
{%- endfor %}
        }
    }
}
